<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pandemicshootout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PandemicShootout">
        <activity android:name=".donor.Availabledonors"></activity>
        <activity android:name=".vaccine.Available_vaccine" />
        <activity android:name=".medicine.AvailableMed" />
        <activity android:name=".Medicn_stock" />
        <activity android:name=".bed.AvailableBeds" />
        <activity android:name=".Beds" />
        <activity android:name=".Plasma" />
        <activity android:name=".Vaccine" />
        <activity android:name=".Medicen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>